@import "~antd/dist/antd.css";

.App {
  text-align: center;
  background-color: #9fb6e286;
}

.App-navigation {
  background-color: #051023;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(20px + 2vmin);
  font-size: large;
  color: white;
}
